Тема: Сайт за компютърни части

Курсовият проект представлява САМОСТОЯТЕЛНО разработено уеб
приложение.

Използвай html,css,js,php,mqsql

Основна функционалност: въвеждане на данни, проверка, съхраняване,
редактиране, справки, защита срещу недобросъвестни потребители и прочие.
Използване на Ajax, библиотека jQuery или друга подобна. Използване на
файлове или бази от данни.

Функционалност на приложението
Приложението трябва да включва следните операции за работа с база данни:
- INSERT - добавяне на нови записи;
- UPDATE - редактиране на съществуващи записи;
- DELETE - изтриване на записи;
- SELECT - извличане и визуализиране на всички данни;
- SELECT WHERE - извличане на данни по зададен критерий.
2. Визия и интерфейс на приложението
Проектът трябва да бъде с добре оформен и интуитивен интерфейс, който
включва:
- логично подредени елементи;
- смислена навигация между различните страници;
- използване на цветови акценти и различни събития (events);